#trafficLight_1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
}

#trafficLight_2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
}

#trafficLight_3 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
}
